/*======= Login Form ===================*/
#login_form {
  border: solid 1px #ffffff;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  position: absolute;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  background: #C6C6C6;
  background-image: url(IMAGE_URL); /* fallback */
  background-image: url(IMAGE_URL), -webkit-gradient(linear, left top, left bottom, from(#6cab26), to(#6ceb86)); /* Saf4+, Chrome */
  background-image: url(IMAGE_URL), -webkit-linear-gradient(top, #6cab26, #6ceb86); /* Chrome 10+, Saf5.1+ */
  background-image: url(IMAGE_URL), -moz-linear-gradient(top, #6cab26, #6ceb86); /* FF3.6+ */
  background-image: url(IMAGE_URL), -o-linear-gradient(top, #6cab26, #6ceb86); /* Opera 11.10+ */
  background-image: url(IMAGE_URL), linear-gradient(to bottom, #6cab26, #6ceb86); /* W3C */

}

table.login {
  /*border: solid 1px #000000;*/
  width: 100%;
}